<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

<p>We love big trees and we cannot lie, leafy ferns do not deny.</p>

<p>Shrubs on shrubs on stacks, this is where our homelife at.</p>
